// app global css in SCSS form
.card{
    background-color: #e63946;
    color: #ffffff;
    width: 70%;
    height: 60%;

}

.page-color{
    background-color: #1D3557;
}

.token{
    width: 10px;
    visibility: hidden;
}